@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SFPro";
    src: url("./fonts/SF-Pro-Text-Black.otf");
}

@font-face {
    font-family: "SFLight";
    src: url("./fonts/SF-Pro-Text-Light.otf");
}

@font-face {
    font-family: "SFRegular";
    src: url("./fonts/SF-Pro-Text-Regular.otf");
}